.wrapper {
  padding: 2rem 0 0 2rem;
  min-height: 100vh;
}


.main-content {
  height: 100%;
  display: flex; 
  flex: 1;     
  min-height: 0;  
  justify-content: center;
  align-items: center;
  
}