/* * {
    outline: 1px solid red;
} */

.list {
    padding: 5rem 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column; 
}

h2 {
    align-self: center;
}

ul {
     display: flex; 
     flex-direction: column;
     gap: .5rem;
}

.list-wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper {
    padding: 3rem;
    align-self: flex-end;
    max-width: 30rem;
}

