.list {
    padding: 3rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
     display: flex;
     flex-direction: column;
     padding: 1rem;
}

h2 {
    align-self: center;
}

ul {
     display: flex; 
     flex-direction: column;
     gap: .5rem;
}

.list-wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
