.list {
    padding: 1rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1.5rem;

}