.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.title-block {
  flex: 0 0 40%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

.title {
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-size: 0.9rem;
  align-items: end;
}

.logo-block {
  flex: 1;
  height: 100vh;
}
