.main {
  display: flex;
  flex: 1;       
}

.title-block {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}

h1 {
  margin: 0;
  color: rgb(195, 197, 198);
  font-size: 5.5rem;
}

.logo-block {
  flex: 1;
}
