.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.title-block {
  flex: 0 0 40%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #c8c4c4ff;
  font-size: 4rem;
}

.title {
  color: rgb(255, 255, 255);
}

.subtitle {
  font-size: 0.9rem;
  align-items: end;
}

.logo-block {
  flex: 1;
  height: 100vh;
}
