*,
*::before,
*::after {
  box-sizing: border-box;
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #000000;   
  --mantine-color-text: #f7f9f6; 
  --mantine-color-border: 2px rgba(249, 196, 132, 0.815) solid; 
}

:root {
  --mantine-font-family: 'Zalando Sans', system-ui, sans-serif;
  --spacing-lg: 3rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: .5rem;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;  

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


@font-face {
  font-family: 'Zalando Sans';
  src: url('/dist/fonts/ZalandoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

