
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #000000;   
  --mantine-color-text: #f7f9f6;  
  --mantine-font-family: 'Zalando Sans', system-ui, sans-serif;
 
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


@font-face {
  font-family: 'Zalando Sans';
  src: url('/src/Assets/fonts/ZalandoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

