.card {
  background-color: rgb(91, 90, 90);
}

.section {
  border-bottom: 1px solid green;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
}

.like {
  color: red;
  width: 20px;
  height: 20px;
}

.label {
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: 700;
}