.wrapper {
  display: flex;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );
  border-radius: var(--radius-md);
  padding: var(--spacing-lg);
  margin: var(--spacing-lg);
  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));

  @media (max-width: 48em) {
    flex-direction: column;
  }
}

.calendarHeader {
  padding: 2rem;
}

.calendarHeaderControl {
  width: 34px;
  height: 34px;
  margin: 1rem;
}

.weekday {
  color: rgb(247, 172, 31);
  padding: 0.5rem;
  font-weight: 800;
}

.day {
  margin: 0.5rem;
  transition: color 0.3s ease-in;
}

.day:hover {
  color: rgb(247, 172, 31);
}

.day[data-selected] {
  border-bottom: 1px solid rgb(247, 172, 31);
  color: rgb(247, 172, 31);
}

.day[data-today] {
  color: rgb(247, 172, 31);
  opacity: 30%;
}

.day[data-weekend] {
  color: rgba(253, 214, 141, 0.835);
}

.day[data-outside] {
  opacity: 0.35;
}

.timeWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.timeInput :global(.mantine-TimePicker-input) {
  background-color: transparent;
  border: none;
}

.timePickerField {
  width: 5rem;
}

.form {
  flex: 1;
  padding: var(--spacing-md);
  border-left: 0;

  @media (max-width: 48em) {
    padding: var(--spacing-xs);
  }
}

.fields {
  margin-top: -12px;
}

.fieldInput {
  flex: 1;

  @media (max-width: 48em) {
    margin-left: 0;
    margin-top: var(--spacing-xs);
  }
}

.fieldsGroup {
  display: flex;

  @media (max-width: 48em) {
    flex-direction: column;
  }
}

.title {
  @media (max-width: 48em) {
    margin-bottom: var(--spacing-sm);
  }
}

.control {
  @media (max-width: 48em) {
    flex: 1;
  }
}

