.navlink {
    background: none;
    border: none;
    transition: .5s transform ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  &[data-active],
  &[data-active]:hover {
    border-bottom: 1px solid white;
    transform: scale(1.3);
  }
}